#app {
    height: 100vh;
    text-align: center;
}

.title {
    color: rgb(235, 0, 0);
    font-size: 50px;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 120px;
    height: 30px;
    line-height: 0px;
    border-radius: 6px;
    border: none;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    padding: 0 8 px;
    cursor: pointer;
    background-image: linear-gradient(to top, #2885be 0%, #4fa1b6 100%);
    color: #000000;
}

.input-box .btn-disabled {
    width: 120px;
    height: 30px;
    line-height: 0px;
    border-radius: 6px;
    border: none;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    padding: 0 8 px;
    cursor: pointer;
    background-image: linear-gradient(to top, #2885be 0%, #4fa1b6 100%);
    color: #000000;

    opacity: 50%;
    pointer-events: none;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .select {
    cursor: pointer;
}

.input-box .select-disabled {
    opacity: 50%;
    pointer-events: none;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.invisible {
    opacity: 0;
    pointer-events: none;
}